<md-dialog aria-label="Agregar Idioma">
  <md-toolbar>
    <div class="md-toolbar-tools">
       <h2>Agregar Idioma</h2>
       <span flex></span>
       <md-button class="md-icon-button" ng-click="ctrl.closeAddDialog()">
          <md-icon class="material-icons">close</md-icon>
       </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div layout="column" layout-padding>
      <form layout="column" name="frmIdioma">
        <md-input-container flex>
          <label>ID</label>
          <input required type="text" ng-model="ctrl.idioma.id" />
        </md-input-container>
        <md-input-container>
          <label>Descripción</label>
          <input required type="text" ng-model="ctrl.idioma.descripcion" />
        </md-input-container>
        <md-button class="md-primary" ng-click="ctrl.addIdioma(ctrl)"
          ng-disabled="frmIdioma.$invalid">
          Agregar
        </md-button>
      </form>
    </div>
  </md-dialog-content>
</md-dialog>
